
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: #0f0e17;
  color: #fffffe;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
