.home-page {
    max-width: 375px;
    margin: 0 auto;
    padding: 6em 2rem 2rem 2rem;

}
.logo {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 2rem auto; 
}
.home-page h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}
.home-page p {
    font-weight: 200;
    text-align: justify;
}
.home-page .poem p:first-child {
    text-indent: 12px;
}